<h1>hola</h1>
<p>Hola a tupu</p>
<label id="example-radio-group-label">Pick your favorite season</label>
<br>
<mat-radio-group aria-label="Select an option">
  <mat-radio-button value="1">Tupu?</mat-radio-button>
  <mat-radio-button value="2">Supu?</mat-radio-button>
  <mat-radio-button value="3">turepu?</mat-radio-button>
</mat-radio-group>
<br>
<button mat-fab style="color:white; background-color: crimson;" aria-label="Example icon button with a delete icon">
  <mat-icon>delete</mat-icon>
</button>

<router-outlet></router-outlet>