<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>

  <div class="example-sidenav-content">
    <h1>hola</h1>
    <p>Hola a tupu</p>
    <label id="example-radio-group-label">Pick your favorite season</label>
    <br>
    <mat-radio-group aria-label="Select an option">
      <mat-radio-button value="1">Tupu?</mat-radio-button>
      <mat-radio-button value="2">Supu?</mat-radio-button>
      <mat-radio-button value="3">turepu?</mat-radio-button>
    </mat-radio-group>
    <br>
    <button mat-fab style="color:white; background-color: crimson;" aria-label="Example icon button with a delete icon">
      <mat-icon>delete</mat-icon>
    </button>
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
  </div>
</mat-drawer-container>
<router-outlet></router-outlet>